.App {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
}
.wrap {
  display: flex;
  margin-bottom: 10px;
}
.numbersection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
button {
  width: 8%;
}
button:focus {
  background-color: aqua;
}
